@model MvcApplication3.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.category.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sku)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sku)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.img)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.img)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sale_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sale_price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
