@model MvcApplication1.invoice_detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>invoice_detail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.invoice.invoice_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.invoice.invoice_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.sku)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.sku)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantity)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
