@model MvcApplication1.category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<!--abc-->
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>category</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.category2.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.category2.name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
