<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/PagedList.css" rel="stylesheet" />
        <link href="~/Content/mystyle.css" rel="stylesheet" />
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-1.9.1.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href=""></a></p>
                </div>
                
            </div>
        </header>
        <nav>
            <div class="float-right">
  
                </div>
            <ul class="menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>
                <a href="#">Admin</a>               
                <ul>
                <li>@Html.ActionLink("CategoryHome", "Index", "Category")</li>
                <li>@Html.ActionLink("ProductHome", "Index", "Product")</li>
                <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                <li>@Html.ActionLink("InvoiceHome", "Index", "Invoice")</li>
                <li>@Html.ActionLink("InvoiceDetailHome", "Index", "InvoiceDetail")</li>

            </ul>
            </li>
            </ul>
        </nav>     
        <div class="container">
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
       </div>
    </body>
</html>
