@model MvcApplication1.invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>invoice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.invoice_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.invoice_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.unit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_at)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_at)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.customer.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.customer.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
