@using PagedList; 
@using PagedList.Mvc;
@model PagedList.IPagedList<MvcApplication1.invoice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class= "btn btn-success"})
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().invoice_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().create_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().customer.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.invoice_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.customer.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new {@class= "btn btn-success"}) |
            @Html.ActionLink("Details", "Details", new { id=item.id },new {@class= "btn btn-primary"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id },new {@class= "btn btn-danger"})
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
 to 
@Html.PagedListPager( Model, page => Url.Action("Index", new { page }) )